---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/vmg/redcarpet/issues?state=closed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1435330830'
      Etag:
      - '"3be4fafa6eef70b0aca408085f565976"'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/repositories/1523106/issues?state=closed&page=2>;
        rel="next", <https://api.github.com/repositories/1523106/issues?state=closed&page=15>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/vmg/redcarpet/issues/494","labels_url":"https://api.github.com/repos/vmg/redcarpet/issues/494/labels{/name}","comments_url":"https://api.github.com/repos/vmg/redcarpet/issues/494/comments","events_url":"https://api.github.com/repos/vmg/redcarpet/issues/494/events","html_url":"https://github.com/vmg/redcarpet/issues/494","id":87205363,"number":494,"title":"Seg
        fault when trying to render TOC","user":{"login":"sapslaj","id":1909600,"avatar_url":"https://avatars.githubusercontent.com/u/1909600?v=3","gravatar_id":"","url":"https://api.github.com/users/sapslaj","html_url":"https://github.com/sapslaj","followers_url":"https://api.github.com/users/sapslaj/followers","following_url":"https://api.github.com/users/sapslaj/following{/other_user}","gists_url":"https://api.github.com/users/sapslaj/gists{/gist_id}","starred_url":"https://api.github.com/users/sapslaj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sapslaj/subscriptions","organizations_url":"https://api.github.com/users/sapslaj/orgs","repos_url":"https://api.github.com/users/sapslaj/repos","events_url":"https://api.github.com/users/sapslaj/events{/privacy}","received_events_url":"https://api.github.com/users/sapslaj/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":6,"created_at":"2015-06-11T04:22:06Z","updated_at":"2015-06-23T15:30:03Z","closed_at":"2015-06-23T15:27:27Z","body":"I
        was doing some benchmarks and I keep getting segfaulted when doing HTML_TOC
        rendering\r\n\r\nHere''s my benchmark code:\r\n```ruby \r\nrequire ''benchmark/ips''\r\nrequire
        ''redcarpet.so''\r\n\r\nTESTMD = File.read(\"./markdown_test_data.md\") #
        from https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet\r\n\r\n#
        Warmups\r\nRedcarpet::Markdown.new(Redcarpet::Render::HTML.new).render(TESTMD)\r\nRedcarpet::Markdown.[...]
